<?xml version="1.0" encoding="UTF-8"?>
<launchConfiguration type="org.eclipse.buildship.core.launch.runconfiguration">
  <listAttribute key="arguments"/>
  <stringAttribute key="bad_container_name" value="/josm-mapillary-plugin/.settingd"/>
  <stringAttribute key="gradle_distribution" value="GRADLE_DISTRIBUTION(WRAPPER)"/>
  <listAttribute key="jvm_arguments"/>
  <stringAttribute key="org.eclipse.debug.ui.ATTR_CONSOLE_ENCODING" value="UTF-8"/>
  <listAttribute key="org.eclipse.debug.ui.favoriteGroups">
    <listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
  </listAttribute>
  <booleanAttribute key="show_console_view" value="false"/>
  <booleanAttribute key="show_execution_view" value="true"/>
  <listAttribute key="tasks">
    <listEntry value="build"/>
    <listEntry value="javadoc"/>
  </listAttribute>
  <stringAttribute key="working_dir" value="${project_loc}"/>
</launchConfiguration>
